:root {
    --green: #00DF5E;
    --dark-green: #04a045;
    --blue: #60b5e6;
    --dark-blue: #36a2e0;
    --ultra-blue: rgba(63, 61, 86, 1);;
    --grey: #828282;
    --back-grey: #333333;
    --ultra-grey: #212121;
    --dark: #171717;
    --white: #FFFFFF;
}