footer{
    height: 40px;
    width: 100%;
    font-weight: 050;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--back-grey);
}

.spam:hover{
    color: var(--green);
}

@media screen and (max-width: 900px){
    footer{
      text-align: center;  
    }
}