.bio{
    height: 130px;
    width: 70%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: 500;
}

#description{
    margin: 20px;
    color: var(--grey);
}