.spam-social_media{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social_media{
    border: none;
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 30px;
    box-shadow: -1px 1px 1px 1px #00DF5E;
    background-color: #fff;
    transition: 0.25s all;
}

.social_media-icon{
    height: 25px;
    width: 25px;
}

.social_media:hover{
    transform: scale(1.05);
}

#insta:hover{
    background-color: rgb(240, 33, 68);
}

#email:hover{
    background-color: rgb(248, 157, 172);
}

#linkedin:hover{
    background-color: rgb(56, 56, 223);
}

#github:hover{
    background-color: var(--back-grey);
}