header{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header_green{
    margin-bottom: 50px;
    background-color: var(--dark-green);
}
.header-top{
    width: 90%;
    height: 50px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-principal{
    display: flex;
    
    margin: 0 170px;
}

.left_principal{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right_principal{
    margin-left: 100px;
    margin-bottom: 20px;
}

.header-down{
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px){
    header{
        margin-bottom: 800px;
    }
    .header-principal{
        flex-direction: column;
    }

    .header-down{
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .header_green{
        margin-bottom: 150px;
    }

    .spam-social_media{
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }

    #email{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}