#title-header{
    font-size: 25px;
    font-weight: 700;
}

#principal_title_header{
    font-size: 35px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px rgb(109, 109, 109);
}