.icon-tech{
    height: 100px;
    width: 100px;
}
#html:hover{
    background-color: rgb(255, 145, 0);
}

#js:hover{
    background-color: yellow;
}

#boots:hover{
    background-color: blueviolet;
}

#react:hover{
    background-color: rgb(0, 174, 255);
}