.icon-tech{
    height: 100px;
    width: 100px;
}
#html:hover{
    background-color: rgb(255, 145, 0);
}

#js:hover{
    background-color: yellow;
}

#css:hover{
    background-color: rgb(0, 174, 255);
}

#boots:hover{
    background-color: rgb(96, 23, 163);
}

#react:hover{
    background-color: rgb(0, 74, 211);
}

#next:hover{
    background-color: rgb(120, 204, 243);
}