main{
    width: 100%;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 120px;
}

.icons{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.root {
    background: var(--dark);
}

/*a {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 130px;*/
/*    width: 130px;*/
/*    border-radius: 20px;*/
/*    box-shadow: -2px 2px 2px 2px #b8dac3;*/
/*    background-color: var(--green);*/
/*    transition: 0.25s all;*/
/*}*/

a:hover{
    transform: scale(1.05);
}