main{
    width: 100%;
}

.topic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 120px;
}
.icons{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 130px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: -2px 2px 2px 2px #b8dac3;
    background-color: var(--green);
    transition: 0.25s all;
}

.container:hover{
    transform: scale(1.05);
}

.base{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 30px;
    padding-top: 15px;
    background-color: var(--back-grey);
    box-shadow: -1px 1px 1px 1px #b8dac3;
    height: 250px;
    width: 400px;
    border-radius: 10px;
    transition: 0.25s all;
}

.base:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: -2px 2px 2px 2px #b8dac3;
}